---
language: python
python: "2.7"

# Don't use the new container infrastructure
sudo: required

# Install ansible
addons:
  apt:
    packages:
    - python-pip

install:
  # Install ansible
  - pip install ansible

  # Check ansible version
  - ansible --version

  # Create ansible.cfg with correct roles_path
  - printf '[defaults]\nroles_path=../' >ansible.cfg

  # Install dependencies
  - ansible-galaxy install -r requirements.yml -p ..

script:
  # Basic role syntax check
  - ansible-playbook tests/test.yml --syntax-check

  # Actually run the playbook
  - ansible-playbook tests/test.yml

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
