---
- name: delete unwanted compression rules
  shell: |
    if \
    {{ dcm4chee_ldapsearch }} -s base -b \
    "cn={{ item }},dicomDeviceName=dcm4chee-arc,cn=Devices,cn=DICOM Configuration,dc=dcm4che,dc=org"
    then
    {{ dcm4chee_ldapdelete }} \
    "cn={{ item }},dicomDeviceName=dcm4chee-arc,cn=Devices,cn=DICOM Configuration,dc=dcm4che,dc=org" &&
    echo "DELETED"
    fi
  register: ldap_commands
  changed_when: '"DELETED" in ldap_commands.stdout'
  with_items:
    - JPEG Lossless
    - JPEG 8-bit Lossy
    - JPEG 12-bit Lossy
    - JPEG 2000 Lossless
  notify: restart wildfly

- name: enable default compression rule
  shell: |
    {{ dcm4chee_ldapsearch }} -s base -b \
    "cn={{ item }},dicomDeviceName=dcm4chee-arc,cn=Devices,cn=DICOM Configuration,dc=dcm4che,dc=org" \
    "dcmProperty" \
    | grep -i "SendingApplicationEntityTitle" \
    | while read attr
    do
    echo "dn: cn={{ item }},dicomDeviceName=dcm4chee-arc,cn=Devices,cn=DICOM Configuration,dc=dcm4che,dc=org
    changetype: modify
    delete: dcmProperty
    $attr" \
    | {{ dcm4chee_ldapmodify }}
    done
  register: ldapmodify
  changed_when: '"modifying entry" in ldapmodify.stdout'
  with_items:
    - JPEG LS Lossless
  notify: restart wildfly
  
- name: delete unwanted transfer syntaxes
  shell: |
    {{ dcm4chee_ldapsearch }} -o ldif-wrap=no -b \
    "dicomDeviceName=dcm4chee-arc,cn=Devices,cn=DICOM Configuration,dc=dcm4che,dc=org" \
    "(&(objectClass=dicomTransferCapability)(dicomTransferSyntax={{ item }}))" \
    "dn" \
    | grep ^dn \
    | while read dn
    do echo "$dn
    changetype: modify
    delete: dicomTransferSyntax
    dicomTransferSyntax: {{ item }}" \
    | {{ dcm4chee_ldapmodify }}
    done
  register: ldapmodify
  changed_when: '"modifying entry" in ldapmodify.stdout'
  with_items:
    - 1.2.840.10008.1.2.4.50
    - 1.2.840.10008.1.2.4.51
    - 1.2.840.10008.1.2.4.57
    - 1.2.840.10008.1.2.4.70
    - 1.2.840.10008.1.2.4.81
    - 1.2.840.10008.1.2.4.90
    - 1.2.840.10008.1.2.4.91
    - 1.2.840.10008.1.2.5
  notify: restart wildfly
